$smallScreen: 550px;
$mediumScreen: 1024px;
$largeScreen: 1600px;

// $largePadding: calc(4vw + 2rem);
// $mediumPadding: calc(2vw + 1.5rem);
// $smallPadding: calc(1% + 1rem);

$fullWidth: var(--innerVW);
$navHeight: 3rem;
$mainPadding: calc(3rem + 1vw);
$smallPadding: calc(1rem + 1vw);
// $headerHeight: 3rem;
$transition: .6s;
$transitionDurationForDebugging: 10s;

:root {
  --innerVW: calc(100vw - var(--scrollbarWidth));
}




//
// Colors
//
@function color($color-name, $color-variant:null) {
  @if ($color-variant !=null) {
     @return map-get(map-get($colors, $color-name), $color-variant);
  }
  @else {
     @return map-get($colors, $color-name);
  }
}

$colors: (
  highlight: #00d8ff,
  light: #d2f8ff,
  mid: #70bfce,
  dark: #2d6b77,
  darker: #1a4850,
  background: #0b151d
);




@mixin fullWidth {
  position: relative;
  width: var(--innerVW);
  left: 50%;
  margin-left: calc(var(--innerVW) / -2);
}

.full-width {
  @include fullWidth;
}