$smallScreen: 550px;
$mediumScreen: 1024px;
$largeScreen: 1600px;

// $largePadding: calc(4vw + 2rem);
// $mediumPadding: calc(2vw + 1.5rem);
// $smallPadding: calc(1% + 1rem);

$fullWidth: var(--innerVW);
$navHeight: 3rem;
$mainPadding: calc(3rem + 1vw);
$smallPadding: calc(1rem + 1vw);
// $headerHeight: 3rem;
$transition: .6s;
$transitionDurationForDebugging: 10s;

:root {
  --innerVW: calc(100vw - var(--scrollbarWidth));
}




//
// Colors
//
@function color($color-name, $color-variant:null) {
  @if ($color-variant !=null) {
     @return map-get(map-get($colors, $color-name), $color-variant);
  }
  @else {
     @return map-get($colors, $color-name);
  }
}

$colors: (
  highlight: #00d8ff,
  light: #d2f8ff,
  mid: #70bfce,
  dark: #2d6b77,
  darker: #1a4850,
  background: #0b151d
);




@mixin fullWidth {
  position: relative;
  width: var(--innerVW);
  left: 50%;
  margin-left: calc(var(--innerVW) / -2);
}

.full-width {
  @include fullWidth;
}




@mixin squircleMask($size) {
  mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" height="100%25" width="100%25"><mask id="squircle"><rect fill="white" width="100%25" height="100%25"/><svg x="-.01%25" style="overflow: visible"><path fill="black" width="' + $size + '" height="' + $size + '" d="M' + $size + ' 0H0v' + $size + 'C0 ' + $size * .2 + ' ' + $size * .2 + ' 0 ' + $size + ' 0z"/></svg><svg x="100.01%25" style="overflow: visible"><path fill="black" d="M' + $size + ' ' + $size + 'V0H0c' + $size * .8 + ' 0 ' + $size + ' ' + $size * .2 + ' ' + $size + ' ' + $size + 'z" transform="translate(-' + $size + ',0)"/></svg><svg x="100.01%25" y="100.01%25" style="overflow: visible"><path fill="black" d="M0 ' + $size + 'h' + $size + 'V0c0 ' + $size * .8 + '-' + $size * .2 + ' ' + $size + '-' + $size + ' ' + $size + 'z" transform="translate(-' + $size + ',-' + $size + ')"/></svg><svg x="-.01%25" y="100.01%25" style="overflow: visible"><path fill="black" d="M0 0v' + $size + 'h' + $size + 'C' + $size * .2 + ' ' + $size + ' 0 ' + $size * .8 + ' 0 0z" transform="translate(0,-' + $size + ')"/></svg></mask><rect fill="white" width="100%25" height="100%25" mask="url(%23squircle)"/></svg>')
}

@mixin squircle($minRadius) {
  $midRadius: $minRadius * 1.2;
  $maxRadius: $midRadius * 1.2;
  
  @include squircleMask($minRadius);
  min-height: calc(#{$minRadius} * 2px);
  
  @media (min-width: $mediumScreen) {
    @include squircleMask($midRadius);
    min-height: calc(#{$midRadius} * 2px);
  }
  
  @media (min-width: $largeScreen) {
    @include squircleMask($maxRadius);
    min-height: calc(#{$maxRadius} * 2px);
  }
}